.welcome-screen-item-parent {
  display: flex;
}

.welcome-screen-title {
  margin-top: 20%;
}

.welcome-screen-button {
  margin-bottom: 5px;
}

.welcome-screen-hr {
  margin: 10%;
}

.welcome-screen-footer-text {
  font-size: x-small;
}
