.game-board-tile {
  height: 80px;
  width: 100px;
  margin: 5px;
  padding: 0px;
}

.game-board-tile-text {
  font-size: small;
  font-weight: bold;
}

.game-board-tile-claimer {
  font-size: x-small;
}