.app-footer {
  padding-bottom: 25px;
  max-width: 720px;
}

.app-footer-text {
  font-size: x-small;
}

.gratitude-popover-text {
  font-size: x-small;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: rgb(255 65 97);
}
